.oculto {
	display: none;
	width: 100%;
	padding: 0px;
	margin: 2px;
	overflow: hidden;
}

body {
	background-color: #D9E9FF;
}

.error {
	color: red;
}

input:read-only { 
    background-color: green;
}

.negrita {
	font-weight: bold;
}

